<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>
<table>

    <tr>
        <th>Values</th>
        <th>Suits</th>
    </tr>
    <tr>
        <td>A(Ace)</td>
        <td>S(Spades)</td>
    </tr>
    <tr>
        <td>K(King)</td>
        <td>C(Clubs)</td>
    </tr>
    <tr>
        <td>Q(Queen)</td>
        <td>H(Hearts)</td>
    </tr>
    <tr>
        <td>J(Jack)</td>
        <td>D(Diamonds)</td>
    </tr>
    <tr>
        <td colspan="2">T(10)</td>
    </tr>
    <tr>
        <td colspan="2">2 - 9 (Two through nine.)</td>
    </tr>
</table>

<table>
    <tr class="title">
        <td>Column1</td>
        <td >Column2</td>
        <td >Column3</td>
        <td >Column4</td>
    </tr>

    <tr><td class="columnOfCards" id="c1">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td class="cardLocation"></td></tr>
            <tr><td><button id="btn-col-one">Remove</button></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td><button id="btn-col-two">Remove</button></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td><button id="btn-col-three">Remove</button></td></tr>

            </table>
        </td>
        <td class="columnOfCards" id="c4">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td class="cardLocation"></td></tr>
                <tr><td><button id="btn-col-four">Remove</button></td></tr>
            </table>
        </td>
    </tr>
</table>

<button id="btn-deal">Deal</button>
<button id="btn-rest">Reset</button>




</body>
</html>